{% load my_tags %}
{% load custom_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'dashboard_index' %}">
        {% comment %} user name and biz {% endcomment %}
        {% if request.user.is_authenticated %}
            {{ request.user }}<span style="font-size: smaller">({{ request.user.profile.biz }})</span>
        {% endif %}
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between"
         id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                {% url 'dashboard_leads_in' as dashboard_leads_url %}
                <a class="nav-link
                          {% if request.path|startswith:dashboard_leads_url %}active{% endif %}"
                   href="{{ dashboard_leads_url }}">לידים נכנסים</a>
            </li>
            <li class="nav-item">
                {% url 'dashboard_leads_out' as dashboard_leads_out_url %}
                <a class="nav-link
                          {% if request.path|startswith:dashboard_leads_out_url %}active{% endif %}"
                   href="{{ dashboard_leads_out_url }}">לידים יוצאים</a>
            </li>
            <li class="nav-item">
                {% url 'dashboard_messages' as dashboard_messages_url %}
                <a class="nav-link
                          {% if request.path|startswith:dashboard_messages_url %}active{% endif %}"
                   href="{{ dashboard_messages_url }}">יצירת הודעות</a>
            </li>
            <li class="nav-item">
                {% url 'dashboard_messages_calendar' as dashboard_calendar_url %}
                <a class="nav-link
                          {% if request.path|startswith:dashboard_calendar_url %}active{% endif %}"
                   href="{{ dashboard_calendar_url }}">לוח שנה</a>
            </li>
            <li class="nav-item">
                {% url 'message_send' as message_send_url %}
                <a class="nav-link
                          {% if request.path|startswith:message_send_url %}active{% endif %}"
                   href="{{ message_send_url }}">שליחת הודעה</a>
            </li>
            <!-- dashboard_counting_group_size -->
            <li class="nav-item">
                {% url 'dashboard_counting_group_size' as dashboard_counting_group_size_url %}
                <a class="nav-link
                          {% if request.path|startswith:dashboard_counting_group_size_url %}active{% endif %}"
                   href="{{ dashboard_counting_group_size_url }}">ספירת קבוצות</a>
            </li>
            <!-- dashboard_index -->
            <li class="nav-item">
                {% url 'dashboard_biz_profile' as dashboard_biz_profile_url %}
                <a class="nav-link
                          {% if request.path|startswith:dashboard_biz_profile_url %}active{% endif %}"
                   href="{{ dashboard_biz_profile_url }}">פרופיל עסק</a>
            </li>
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    {% url 'dashboard_admin_page' as dashboard_admin_page %}
                    <a class="nav-link
                              {% if request.path|startswith:dashboard_admin_page %}active{% endif %}"
                       href="{{ dashboard_admin_page }}">ניהול אדמין</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">התנתק</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">התחבר</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% include "dashboard/dashboard_breadcrumbs.html" %}
<style>
    .navbar {}

    .navbar .nav-link {
        color: black;
    }

    .navbar .nav-link.active {
        text-decoration: underline;
        font-weight: bold;
    }
</style>
