<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>כמות אנשים בקבוצה</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action={% url 'dashboard_counting_group_size' %}>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-3">צור ספירה חדשה</button>
                    </form>
                    <div id="table-wraper">
                        <table class="table table-striped table-bordered" id="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>תאריך</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cout in counts %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'dashboard_counting_group_size_detail' cout.id %}">{{ cout.id }}</a>
                                        </td>
                                        <td>{{ cout.date }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
