{% extends "dashboard/leads-in/base.html" %}
{% load static %}
{% load my_tags %}
{% block title %}דאשבורד - לידים נכנסים{% endblock %}
{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-sankey"></script>
{% endblock %}
{% block content %}
    <script>
        const leads_clicks_json = JSON.parse("{{ leads_clicks_json|escapejs }}");
        console.log('leads_clicks_json', leads_clicks_json);

        const categories_clicks_json = JSON.parse("{{ categories_clicks_json|escapejs }}");
        console.log('categories_clicks_json', categories_clicks_json);

        const all_growth = JSON.parse("{{ all_growth|escapejs }}");



        // const data = merge all the lists together
        const results_data = leads_clicks_json.concat(categories_clicks_json);
        console.log('data', results_data);

        // Function to get 5 unique random rows from results_data
        function getRandomUniqueRows(data, numRows) {
            const uniqueData = Array.from(new Set(data.map(JSON.stringify))).map(JSON.parse);
            const shuffled = uniqueData.sort(() => 0.5 - Math.random());
            return shuffled.slice(0, numRows);
        }

        const randomUniqueRows = getRandomUniqueRows(results_data, 50);
        // print it in a way that is easy to copy to Clipboard all the data
        console.log('randomUniqueRows');
        console.table(randomUniqueRows);


        const translated_results = results_data.map((item) => {
            return {
                'עסק': item.business,
                'קטגוריה': item.category,
                'QR': item.qr,
                'QR אבא': item.qr_category,
                'כמות': item.count,
                'סוג ליד': item.type,
                'סוג קבוצה': item.group_type,
            }
        });
    </script>
    <div style="display: flex;">
        <div style="flex: 1;">{% include "dashboard/leads-in/side_filter.html" %}</div>
        <div style="flex: 3;">
            {% include "dashboard/leads-in/table_data.html" %}
            {% include "dashboard/leads-in/chart.html" %}
            {% include "dashboard/leads-in/groups_grow.html" %}
        </div>
    </div>
{% endblock %}
