<!-- filter based on business, start and end date, and qrs -->
<div class="card">
  <div class="card-header">
    <h5>סינון</h5>
  </div>
  <div class="card-body">
    <form action method="get">
      <div class="mb-3">
        <label for="start_date" class="form-label">מתאריך</label>
        <input type="date"
               name="start_date"
               id="start_date"
               class="form-control"
               value="{{ request.GET.start_date }}">
      </div>
      <div class="mb-3">
        <label for="end_date" class="form-label">עד תאריך</label>
        <input type="date"
               name="end_date"
               id="end_date"
               class="form-control"
               value="{{ request.GET.end_date }}">
      </div>
      <div class="mb-3">
        <label for="qrs" class="form-label">קודי QR</label>
        <select name="qrs" id="qrs" class="form-select" multiple>
          <option value>כל הקודים</option>
          <option value="0">אורגני</option>
          {% for qr in qrs_list %}<option value="{{ qr.id }}">{{ qr.name }}</option>{% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">סנן</button>
      <button type="button"
              class="btn btn-secondary"
              onclick="window.location='?';">נקה</button>
    </form>
  </div>
</div>
<script>
    // make sure the qrs is initialized with the queryparams
    // http://127.0.0.1:8000/dashboard/?business=1&start_date=&end_date=&qrs=1&qrs=2&qrs=3
    init_qrs_select_url_params();

    function init_qrs_select_url_params() {
        const qrs = document.getElementById('qrs');
        const qrs_list = new URLSearchParams(window.location.search).getAll('qrs');
        qrs_list.forEach(qr => {
            const option = qrs.querySelector(`option[value="${qr}"]`);
            if (option) {
                option.selected = true;
            }
        });
        if (qrs_list.length === 0) {
            // set the first option to be selected
            qrs.querySelector('option').selected = true;
        }
    }
</script>
