<!-- class BizMessages(models.Model):
    uid = models.CharField(_('uid'), max_length=100, default=generate_small_uuid, unique=True, editable=False)
    created_at = models.DateTimeField(_('created at'), auto_now_add=True)
    business = models.ForeignKey(Business, on_delete=models.CASCADE, related_name='messages', verbose_name=_('business'))
    messageTxt = models.TextField(_('message'), max_length=20000)
    
    
    def __str__(self) -> str:
        return self.message
    
    class Meta:
        verbose_name = _('business message')
        verbose_name_plural = _('business messages')
        
class MessageCategory(models.Model):
    message = models.ForeignKey(BizMessages, on_delete=models.CASCADE, related_name='categories', verbose_name=_('message'))
    category = models.ForeignKey(Category, on_delete=models.CASCADE, related_name='messages', verbose_name=_('category'))
    send_at = models.DateTimeField(_('send at'), default=timezone.now)
    is_sent = models.BooleanField(_('is sent'), default=False)
    class Meta:
        verbose_name = _('message category')
verbose_name_plural = _('message categories') -->
{% extends "dashboard/messages/base.html" %}
{% load static %}
{% load my_tags %}
{% block title %}דאשבורד - הודעות{% endblock %}
{% block extra_head %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>עריכת הודעה</h1>
        <form method="post" id="edit-message-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden"
                   name="business"
                   id="business"
                   value="{{ message.business.id }}">
            <div class="form-group">
                <!-- image display and input -->
                <label for="image">תמונה</label>
                <div class="d-flex align-items-center">
                    {% if message.image %}
                        <img src="{{ message.image.url }}"
                             alt="message image"
                             class="img-thumbnail"
                             style="width: 350px">
                    {% endif %}
                    <input type="file" name="image" id="image" class="form-control">
                </div>
            </div>
            <div class="container ai-wrapper">
                <h2>יצירת הודעה בAI</h2>
                <div class="form-group">
                    <label for="product_metadata">מילות מפתח למוצר</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text"
                               class="form-control"
                               id="product_metadata"
                               name="product_metadata"
                               value="{{ message.product_metadata }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="product_name">שם המוצר</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-tag"></i></span>
                        </div>
                        <input type="text"
                               class="form-control"
                               id="product_name"
                               name="product_name"
                               value="{{ message.product_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">תיאור</label>
                    <textarea class="form-control"
                              id="product_description"
                              name="product_description"
                              rows="3">{{ message.product_description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="price">מחיר (כולל מע"מ)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-shekel-sign"></i></span>
                        </div>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               value="{{ message.price }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="coupon_code">קוד קופון</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-percent"></i></span>
                        </div>
                        <input type="text"
                               class="form-control"
                               id="coupon_code"
                               name="coupon_code"
                               value="{{ message.coupon_code }}">
                    </div>
                </div>
                <div class="form-group">
                    <!-- adding links to the message -->
                    <label for="links">לינקים</label>
                    <table class="table table-bordered table-striped table-hover mt-3"
                           id="links-table">
                        <thead>
                            <tr>
                                <!-- תיאור, לינק, פעולות -->
                                <th>מזהה הלינק</th>
                                <th>לינק</th>
                                <th>מחק</th>
                                <th>הוסף לינק להודעה</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <!-- <a href="#" class="btn btn-primary" onclick="addNewLink()">הוסף לינק</a> -->
                                    <button type="button" class="btn btn-primary" onclick="addNewLink()">הוסף לינק</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in message.links.all %}
                                <tr>
                                    <td>
                                        <input type="hidden" name="link_id" value="{{ link.id }}">
                                        <input type="text"
                                               name="description"
                                               value="{{ link.description }}"
                                               class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" name="url" value="{{ link.url }}" class="form-control">
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               name="delete-link-{{ link.id }}"
                                               id="delete-{{ link.id }}">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" onclick="addLink(event)">הוסף</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <!-- adding categories with option to add new or delete existing -->
                    <table class="table table-bordered table-striped table-hover mt-3"
                           id="categories-table">
                        <thead>
                            <tr>
                                <th>קטגוריה</th>
                                <th>תאריך שליחה</th>
                                <th>נשלח</th>
                                <th>מחק</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <!-- <a href="#" class="btn btn-primary" onclick="addNewCategory()">הוסף קטגוריה</a> -->
                                    <button type="button" class="btn btn-primary" onclick="addNewCategory()">הוסף קטגוריה</button>
                                </td>
                            </tr>
                            {% for category in message.categories.all %}
                                <tr>
                                    <td>
                                        <input type="hidden" name="category_id" value="{{ category.id }}">
                                        {% if forloop.first %}
                                            <select class="form-control" {% if forloop.first %}disabled{% endif %}>
                                                <option value="">בחר קטגוריה</option>
                                                {% for cat in categories %}
                                                    <option value="{{ cat.id }}"
                                                            {% if cat.id == category.category.id %}selected{% endif %}>{{ cat }}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" name="category" value="{{ category.category.id }}">
                                        {% else %}
                                            <select name="category" class="form-control"
                                                <option value="">בחר קטגוריה</option>
                                                {% for cat in categories %}
                                                    {% if not cat.is_main_category %}
                                                        <option value="{{ cat.id }}"
                                                                {% if cat.id == category.category.id %}selected{% endif %}>{{ cat }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="datetime-local"
                                               name="send_at"
                                               value="{{ category.send_at|date:'Y-m-d\TH:i' }}"
                                               class="form-control send_at"
                                               id="send_at-{{ category.id }}"
                                               onfocus="this.oldValue = this.value;"
                                               onchange="on_date_change(event);this.oldValue = this.value;"
                                               {% if forloop.first %}data-mainCategory="true" readonly{% endif %}>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               name="is_sent-{{ category.id }}"
                                               {% if category.is_sent %}checked{% endif %}>
                                    </td>
                                    <td>
                                        {% if not forloop.first %}
                                            <input type="checkbox"
                                                   name="delete-category-{{ category.id }}"
                                                   id="delete-{{ category.id }}">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="form-group mt-5">
                    <!-- action buttons -->
                    <button type="button"
                            onclick="generate_AI_message()"
                            class="btn btn-primary ai-msg-button">צור הודעה</button>
                </div>
            </div>
            <div class="form-group">
                <label for="messageTxt">הודעה</label>
                <button onclick="applyCorrections()"
                        class="btn btn-warning btn-block"
                        id="applyCorrectionsButton"
                        type="button">שלח תיקונים</button>
                <textarea name="messageTxt" id="messageTxt" class="form-control" rows="10">{{ message.messageTxt }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">שמור</button>
            <button type="button" class="btn btn-danger" onclick="deleteBtn(event)">מחק</button>
        </button>
    </form>
    <a href="{% url 'dashboard_messages' %}" class="btn btn-secondary mt-5">חזור</a>
</div>
<script>
    function applyCorrections() {
        // disable the button
        document.getElementById('applyCorrectionsButton').disabled = true;
        const correction = prompt('הכנס את התיקונים שברצונך לבצע');
        if (correction) {
            const messageTxt = document.getElementById('messageTxt');
            fetch_ai_correction({
                message: messageTxt.value,
                correction,
            }).then(response => {
                messageTxt.value = response.msg;
            }).finally(() => {
                document.getElementById('applyCorrectionsButton').disabled = false;
            });
        }
    }

    function fetch_ai_correction(data) {
        return fetch('{% url "apply_ai_correction" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(data),
        }).then(response => response.json());
    }

    function read_product_links() {
        // table id="links-table"
        const table = document.getElementById('links-table');
        // get each row and check if the delete checkbox is not checked, if it's not, add the link to the return value
        // the description and link should be non empty as well
        const links = [];
        for (let i = 2; i < table.rows.length; i++) {
            const row = table.rows[i];
            const description = row.querySelector('input[name="description"]')?.value;
            const url = row.querySelector('input[name="url"]')?.value;
            const isDeleted = row.querySelector('input[name="delete"]')?.checked;
            if (!isDeleted && description && url) {
                links.push({
                    description,
                    url,
                    isDeleted,
                });
            }
        }
        return links;
    }

    function read_product_categories() {
        // table id="categories-table"
        const table = document.getElementById('categories-table');
        // get each row and check if the delete checkbox is not checked, if it's not, add the category to the return value
        // the category should be non empty as well
        debugger;
        const categories = [];
        for (let i = 2; i < table.rows.length; i++) {
            const row = table.rows[i];
            const category = row.querySelector('select[name="category"]')?.value;
            const send_at = row.querySelector('input[name="send_at"]')?.value;
            const is_sent = row.querySelector('input[name="is_sent"]')?.checked;
            const isDeleted = row.querySelector('input[name="delete"]')?.checked;
            if (!isDeleted && category) {
                categories.push({
                    category,
                    send_at,
                    is_sent,
                    isDeleted,
                });
            }
        }
        return categories;
    }

    function generate_AI_message() {
        // make the button disabled
        const business = document.getElementById('business').value;
        const product_metadata = document.getElementById('product_metadata').value;
        const product_name = document.getElementById('product_name').value;
        const description = document.getElementById('product_description').value;
        const price = document.getElementById('price').value;
        const coupon_code = document.getElementById('coupon_code').value;
        const messageTxt = document.getElementById('messageTxt');
        const product_links = read_product_links();
        const categories = read_product_categories();
        debugger;
        if (messageTxt.value) {
            if (!confirm('האם אתה בטוח שברצונך להחליף את ההודעה הנוכחית?')) {
                return;
            }
        }
        document.querySelector('.ai-msg-button').disabled = true;

        fetch_ai_message({
            business,
            product_metadata,
            product_name,
            description,
            price,
            coupon_code,
            product_links,
            categories,
        }).then(response => {
            messageTxt.value = response.msg;
        }).catch(error => {
            console.error(error);
            alert('אירעה שגיאה ביצירת ההודעה');
        }).finally(() => {
            document.querySelector('.ai-msg-button').disabled = false;
        });
    }

    function fetch_ai_message(data) {
        return fetch('{% url "generate_ai_message" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(data),
        }).then(response => response.json());
    }


    function on_date_change(e) {
        const categories = document.querySelectorAll('.send_at');
        const mainCategory = categories[0];

        // Start with a maximum date for comparison
        let minDate = new Date('9999-12-31T23:59');

        for (let i = 1; i < categories.length; i++) {
            const category = categories[i];
            if (category.value) {
                const categoryDate = new Date(category.value);

                // Update minDate if a smaller date is found
                if (categoryDate < minDate) {
                    minDate = categoryDate;
                }
            }
        }

        // Format minDate to "yyyy-MM-ddThh:mm" in local time
        const year = minDate.getFullYear();
        const month = String(minDate.getMonth() + 1).padStart(2, '0');
        const day = String(minDate.getDate()).padStart(2, '0');
        const hours = String(minDate.getHours()).padStart(2, '0');
        const minutes = String(minDate.getMinutes()).padStart(2, '0');

        mainCategory.value = `${year}-${month}-${day}T${hours}:${minutes}`;
    }

    function deleteBtn(e) {
        e.preventDefault();
        if (confirm('האם אתה בטוח שברצונך למחוק את ההודעה?')) {
            fetch(window.location.href, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                if (response.ok) {
                    window.location = "{% url 'dashboard_messages' %}";
                }
            });
        }
    }

    function addNewCategory() {
        const table = document.querySelector('#categories-table tbody');
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
                <td>
                    <select name="category" class="form-control">
                        <option value="">בחר קטגוריה</option>
                        {% for cat in categories %}
                        {% if not cat.is_main_category %}
                        <option value="{{ cat.id }}">{{ cat }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="datetime-local" name="send_at" class="form-control send_at" onfocus="this.oldValue = this.value;" onchange="on_date_change(event);this.oldValue = this.value;" name="send_at">
                </td>
                <td>
                    <input type="checkbox" name="is_sent">
                </td>
                <td>
                    <input type="checkbox" name="delete-category[]">
                </td>
            `;
        table.appendChild(newRow);
    }

    function addLink(e) {
        e.preventDefault();
        console.log('addLink', e);;
        // add to messageTxt the link placeholder [link:{{ id }}] where the cursor is located
        const textarea = document.getElementById('messageTxt');
        const cursorPos = textarea.selectionStart;
        const textBefore = textarea.value.substring(0, cursorPos);
        const textAfter = textarea.value.substring(cursorPos, textarea.value.length);
        // get the closest desc to the button
        const desc = e.target.closest('tr').querySelector('input[name="description"]').value;
        textarea.value = textBefore + `[link:${desc}]` + textAfter;

        // select the textarea value we just added
        textarea.setSelectionRange(cursorPos + 6, cursorPos + 6 + desc.length);
    }

    function addNewLink() {
        const table = document.querySelector('#links-table tbody');
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
                <td>
                    <input type="text" name="description" class="form-control">
                </td>
                <td>
                    <input type="text" name="url" class="form-control">
                </td>
                <td>
                    <input type="checkbox" name="delete">
                </td>
                <td>
                    <button type="button" class="btn btn-secondary" onclick="addLink(event)">הוסף</button>
                </td>
            `;
        table.appendChild(newRow);
    }


    // on submit, collect all the links and categories and form info and POST to the server
    // const form = document.querySelector('#edit-message-form');
    // form.addEventListener('submit', function(e) {
    //     e.preventDefault();
    //     debugger;
    //     const links = []; // description, url, is_deleted
    //     const categories = []; // category, send_at, is_sent, is_deleted
    //     const form = new FormData(this);
    //     const linksTable = document.querySelector('#links-table tbody');
    //     const categoriesTable = document.querySelector('#categories-table tbody');
    //     for (let i = 1; i < linksTable.children.length; i++) {
    //         const row = linksTable.children[i];
    //         const description = row.querySelector('input[name="description"]').value;
    //         const url = row.querySelector('input[name="url"]').value;
    //         const isDeleted = row.querySelector('input[name="delete"]').checked;
    //         const id = row.querySelector('input[name="delete"]').id.split('-')[1];

    //         links.push({
    //             description,
    //             url,
    //             isDeleted,
    //             id
    //         });
    //     }


    //     for (let i = 1; i < categoriesTable.children.length; i++) {
    //         const row = categoriesTable.children[i];
    //         const category = row.querySelector('select[name="category"]').value;
    //         const sendAt = row.querySelector('input[name="send_at"]').value;
    //         const isSent = row.querySelector('input[name="is_sent"]').checked;
    //         const isDeleted = row.querySelector('input[name="delete"]').checked;
    //         const id = row.querySelector('input[name="delete"]').id.split('-')[1];
    //         categories.push({
    //             category,
    //             sendAt,
    //             isSent,
    //             isDeleted,
    //             id
    //         });
    //     }

    //     console.log('links', links);
    //     console.log('categories', categories);
    //     fetch(window.location.href, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json',
    //             'X-CSRFToken': '{{ csrf_token }}',
    //         },
    //         body: JSON.stringify({
    //             links: links,
    //             categories: categories,
    //             business: form.get('business'),
    //             messageTxt: form.get('messageTxt'),
    //         }),
    //     }).then(response => {
    //         debugger;
    //         if (response.ok) {
    //             window.location = "{% url 'dashboard_messages' %}";
    //         }
    //     });


    // });
</script>
<style>
    .ai-wrapper {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #ccc;
    }

    .input-group-prepend {
        display: flex;
    }

    label {
        font-weight: bold;
        direction: rtl;
    }
</style>
{% endblock %}
