{% extends "dashboard/base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}דאשבורד - לידים נכנסים{% endblock %}
{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-sankey"></script>
{% endblock %}
{% block content %}
    <script>
        const results_data = JSON.parse("{{ links_clicks_json|escapejs }}");
        const translated_results = results_data.map((item) => {
            return {
                'ID': item.id,
                'עסק': item.business,
                'קטגוריה': item.category,
                'סוג קבוצה': item.group_type,
                'תאריך': item.date,
                'כמות': item.count,
                'לינק': item.link,
            }
        });
        const all_growth = JSON.parse("{{ all_growth|escapejs }}");
        console.log('translated_results', translated_results);
        console.log('all_growth', all_growth);
        debugger;
        const categories_clicks_counts = {};
        for (let i = 0; i < translated_results.length; i++) {
            const item = translated_results[i];
            let cat = item['קטגוריה'];
            const group = item['סוג קבוצה'];
            const count = item['כמות'];
            const g = group == 'whatsapp' ? 'W' : 'T';
            cat = g + ' ' + cat;
            categories_clicks_counts[cat] = categories_clicks_counts[cat] || 0;
            categories_clicks_counts[cat] += count;
        }
        console.log('categories_clicks_counts', categories_clicks_counts);

        const unique_categories_groups = new Set();

        for (let i = 0; i < all_growth.length; i++) {
            const item = all_growth[i];
            const cat = item[1];
            unique_categories_groups.add(cat);
        }
        console.log('unique_categories_groups', unique_categories_groups);

        const returning_messages = JSON.parse("{{ returning_messages|escapejs }}");
        console.log('returning_messages', returning_messages);

        const returning_calls = JSON.parse("{{ returning_calls|escapejs }}");
        console.log('returning_calls', returning_calls);
    </script>
    <div style="display: flex;">
        <div style="flex: 1;">{% include "dashboard/leads-out/leads_out_side_filter.html" %}</div>
        <div style="flex: 3;">
            {% include "dashboard/leads-out/leads_out_table_data.html" %}
            {% include "dashboard/leads-out/leads_out_chart.html" %}
            {% include "dashboard/leads-out/leads_out_categories_table.html" %}
            {% include "dashboard/leads-out/returning_chats_chart.html" %}
            {% include "dashboard/leads-out/returning_calls_chart.html" %}
        </div>
    </div>
{% endblock %}
